/* =================== GOOGLE FONTS =================== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* =================== VARIAVEIS CSS =================== */
:root{
    /* ========== CORES ========== */
    --yellow: #eebf00;
    --gray-dark: #232b38;
    --gray: #6c6c6c;
    --danger: #fe4545;
    --pure: #fefefe;
    --light: #f0f0f0;
    --white: #fff;
    --footer: ;

    /* ========== TIPOGRAFIA MOBILE ========== */
    --font-primary: Raleway;
    --font-size-medium: 0.8rem;
}

/* ========== TIPOGRAFIA DESKTOP ========== */
@media screen and (min-width: 968px){

}

/* =================== RESET =================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* =================== BASE =================== */
body{
    font-family: var(--font-primary);
    font-size: var(--font-size-medium);
}

/* =================== CLASSES REUSAVEIS =================== */
.container{
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
    padding: 0 18px;
}

.flex{
    display: flex;
}

.diviser{
    width: 1px;
    background-color: var(--white);
    margin: 0 5px;
}

/* =================== HEADER =================== */
.header{
    background-color: var(--gray-dark);
    padding: 10px 0;
}

.topbar{
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}

.topbar__link{
    color: var(--white);
    margin: 0 8px;
    transition: 0.2s;
}

.topbar__link:hover{
    color: var(--yellow);
}

.topbar__user .topbar__icon{
    padding-right: 3px;
}

 /* =================== SERVICES =================== */
